
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.wrapper {
    background: url(library.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    height: 10em !important;
    width: 100% !important;
    background-color:  white;
    opacity: 0.80;
}
.logo{
    width: 11rem;
    height: 11rem;
    opacity: 100%;

}
.navbar ul{
    display: inline-block;
    float: right;
    
}
.navbar ul li{
    list-style-type: circle;
    margin: 2em;
    display: inline-block;
    line-height: 1;
}

.navbar ul li a {
    display: inline;
    color: #0788ba;
    font-size: 16px;
    font-family: Gill Sans, sans-serif;
    text-decoration: none;
    
} 

.navbar ul li a:hover{
   
    color:aqua;
}
.navbar ul li a.active
.navbar ul li a:hover{
   
    border-radius: 2px;
}
.wrapper .center{
    position:relative;
    top: 2em;
    left: 5em;
    font-family: Gill Sans, sans-serif;
    user-select: none;
}
.center h1{
    color:white;
    font-size:5em;
    font-weight:bold;
    height:4em;
    width:10em;
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: chocolate;
}
.container{
    text-align center;
}
.btn{
    border: 1px solid #a9ceed;
    padding: 20px 20px;
    font-size: 40px;
    font-family: Gill Sans, sans-serif;
    cursor: pointer;
    margin: 10px;
    opacity: 0.86;
}
.btn1, .btn2{
    color: #2e5d5d;
}

.btn1:hover, .btn2:hover{
    color:aqua

}

