
*{
    padding: 0;
    margin: 0;
}


.wrapper {
    background: url(library.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}

.navbar{
    height: 10em !important;
    width: 100% !important;
    background-color:  black;
    opacity: 0.90;
    filter: alpha(opacity=50);
}
.logo{
    width: 11em;
    height: 11em;
    opacity:100%
}
.navbar ul{
    float: right;
    margin-right: 2em; 
    
}
.navbar ul li{
    list-style-type: circle;
    margin: 2em;
    display: inline-block;
    line-height: 1;
}

.navbar ul li a{ 
    color: white;
    font-size: 1.6;
    font-family: 'bebas', sans-serif;
    
} 
.navbar ul li a#onlink{
    background: #808080;
    color: #ffffff;
}
.navbar ul li a:hover{
   
    color:aqua;
}
.navbar ul li a.active
.navbar ul li a:hover{
   
    border-radius: 2px;
}
.wrapper .center{
    position:relative;
    top: 2em;
    left: 5em;
    font-family: 'bebas', sans-serif;
    user-select: none;
}
.center h1{
    color:white;
    font-size:5em;
    font-weight:bold;
    height:4em;
    width:10em;
    text-align: center;
}
.container{
    text-align center;
}
.btn{
    border:1px solid #a9ceed;
    background: none;
    padding: 20px 20px;
    font-size:40px;
    font-family: "bebas";
    cursor:pointer;
    margin: 10px;
    transition: 0.9s;
}
.btn1, .btn2{
    color: azure;
}

.btn1:hover, .btn2:hover{
    color:aqua
}
